.mjheader {
    box-shadow: -4px 4px 10px 10px gray;
    border-radius: 0.1cm;
    width: auto;
    height: 120px;
}

.logo {
    float: left;
    margin-left: 2%;
}

.menu {
    float: right;
    margin-top: 40px;
    margin-right: 60px;
}

.navheader a {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: black;
    padding-left: 1%;
    float: right;
    margin-top: 45px;
}

.navheader a:hover {
    color: #2d8797;
}

.social {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.welcome {
    color: #2d8797;
    font-size: 70px;
    font-family: consolas;
    font-weight: 20;
    text-align: center;
}

.introtext {
    font-size: 25px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.div {
    overflow: hidden;
    padding-bottom: 30px;
}

.slikahome {
    float: left;
    padding-top: 100px;
    padding-left: 10%;
}

.tekstslika {
    float: right;
    padding-top: 190px;
    padding-bottom: 0;
    padding-right: 14%;
    font-size: 25px;
    text-align: center;
}

.tekstslika1 {
    float: right;
    padding-right: 10%;
    font-size: 25px;
    text-align: center;
}

.tekstslika a {
    font-size: 45px;
    color: #2d8797;
    text-decoration: none;
}

.tekstslika1 a{
    font-size: 25px;
    color: #2d8797;
    text-decoration: none;    
}

.tekstslika a:hover, .tekstslika1 a:hover {
    color: #42cae2;
    text-decoration: none;
}

h2 {
    font-size: 35px;
    color: #2d8797;
    text-decoration: none;
    text-align: center;
}

.pozadina {
    z-index: 1;
}

.textnaslika {
    z-index: 2;
}

nav {
    position: absolute;
    font-size: 20px;
    border-radius: 0.2cm;
    font-weight: bold;
    color: white;
    background-color: #2d8797;
    text-align: center;
    width: 15em;
}

nav:hover {
    background-color: #175763;
}

nav ul {
    display: none;
    margin: 0;
    padding: 0;
    border: 1px solid #2d8797;
}

nav:hover ul {
    display: block;
}

nav ul li {
    background-color: white;
    color: white;
}
nav ul li:hover {
    background-color:#42cae2;
    color: white;
}

.meniomileni {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.omilenislika {
    float: right;
    padding-top: 70px;
    padding-bottom: 0;
    padding-right: 10%;
    font-size: 25px;
    text-align: right;
}

.omilenislika1 {
    float: right;
    padding-right: 10%;
    font-size: 25px;
    text-align: right;
}

.omilenislika a {
    font-size: 45px;
    color: #2d8797;
    text-decoration: none;
}

.omilenislika1 a{
    font-size: 25px;
    color: #2d8797;
    text-decoration: none;    
}

.omilenislika a:hover, .omilenislika1 a:hover {
    color: #42cae2;
    text-decoration: none;
}

.slikahome2 {
    float: right;
    padding-top: 100px;
    padding-right: 10%;
}

.omilenislika2 {
    float: left;
    padding-top: 70px;
    padding-bottom: 0;
    padding-left: 10%;
    font-size: 25px;
    text-align: left;
}

.omilenislika12 {
    float: left;
    padding-left: 10%;
    font-size: 25px;
    text-align: left;
}

.omilenislika2 a {
    font-size: 45px;
    color: #2d8797;
    text-decoration: none;
}

.omilenislika12 a{
    font-size: 25px;
    color: #2d8797;
    text-decoration: none;    
}

.omilenislika2 a:hover, .omilenislika12 a:hover {
    color: #42cae2;
    text-decoration: none;
}

.kontaktbody {
    background-color: rgb(207, 207, 207);
}

.divkontakt {
    overflow: hidden;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.forma1 {
    box-shadow: -4px 4px 10px 10px gray;
    border-radius: 0.7cm;
    width: auto;
    background-color: white;
    padding-left: 3%;
    padding-top: 10px;
    padding-right: 50px;
    float: left;
    overflow: hidden;
}

.forma2 {
    box-shadow: -4px 4px 10px 10px gray;
    border-radius: 0.7cm;
    float: right;
    background-color: white;
    padding-left: 3%;
    padding-top: 10px;
    padding-right: 3%;
}

.kontaktf2 {
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

.kontaktf3 {
    text-decoration: none;
    color: #1c5e69;
}

.kontaktf3:hover {
    text-decoration: none;
    color: #42c1d8;
}

.forma {
    box-shadow: -4px 4px 10px 10px gray;
    border-radius: 0.7cm;
    width: auto;
    background-color: white;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    overflow: hidden;
}

.anketaprozor {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 30px;
}

.naslov {
    text-align: center; 
    font-size: 40px; 
    padding-top: 15px; 
    text-shadow: -1.5px 1.5px 1px rgb(88, 177, 228);
}

.naslov1 {
    text-shadow: -1.5px 1.5px 3px rgb(88, 177, 228);
}

.anketa {
    font-size: 18px;
    padding-left: 10%;
}

.anketa em {
    color: rgb(175, 175, 175);
    font-size: 16px;
}

.divinsta {
    overflow: hidden;
    padding-bottom: 30px;
}

.instapp{
    float: right;
    padding-top: 70px;
    padding-bottom: 0;
    padding-right: 20%;
    text-align: right;
    color: rgb(124, 124, 124);
    font-size: 25px;
}

.instapp a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
}

.instapp a:hover {
    color: rgb(95, 203, 211);
}

.ppinsta {
    float: left;
    padding-top: 4%;
    padding-left: 20%;
}

.instappf{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.instabody {
    background-color: rgb(48, 48, 48);
}

.mjheaderinsta {
    box-shadow: -4px 4px 10px 10px rgb(0, 0, 0);
    border-radius: 0.1cm;
    width: auto;
    height: 120px;
}

.instaprozor {
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 30px;
}

.instasliki {
    box-shadow: -4px 4px 10px 10px gray;
    border-radius: 0.7cm;
    width: auto;
    background-color: rgb(0, 0, 0);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.hr {
    color: rgb(160, 160, 160);
}

.usernameslika{
    position: absolute;
    text-decoration: none;
    padding-left: 4%;
    padding-top: 12px;
    font-size: 20px;
    color: white;
}

.comment {
    position: absolute;
    padding-left: 3%;
    padding-top: 5px;
}

.katlinija {
    background-color: teal;
    border-radius: 2cm;
    width: auto;
}

.slikahrana {
    float: right;
    padding-top: 50px;
}

.hranaslika {
    position: absolute;
    float: left;
    font-size: 25px;
    text-align: left;
    padding-top: 50px;
    padding-right: 40%;
}

.filmoviul a{
    text-decoration: none;
    color: black;
    font-size: 23px;
}

.filmoviul a:hover {
    color: rgb(31, 158, 158);
}

.addslika{
    text-decoration: none;
    font-size: 15px;
    color: white;
    color: rgb(182, 182, 182);
}

.sportprozor {
    padding-left: 25%;
    padding-right: 25%;
    font-size: 20px;
    border-radius: 0.2cm;
    font-weight: bold;
    color: white;
    background-color: #2d8797;
    box-shadow: -4px 4px 10px 10px rgb(228, 228, 228);
}

.sportprozor:hover {
    background-color: #175763;
}

.sportprozor .blogd {
    display: none;
    margin: 0;
    padding: 0;
}

.sportprozor:hover .blogd {
    display: inline;
}

.naslovblog {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    font-size: 40px; 
}

.blog {
    padding-left: 3%;
    padding-right: 10%;
}

.blogdd {
    font-size: 18px;
    padding-bottom: 30px;
    padding-left: 70%;
}

.blogdd em {
    color: rgb(175, 175, 175);
    font-size: 16px;
}

.blogbody {
    background-color: rgb(255, 255, 255);
}